<!DOCTYPE html>
<html>
<head>
  <title>Sine</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <div class="header">
    <% if signed_in? %>
      <div class="signed-in">
        <%= current_user.username %>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <%= auth_token %>
          <button class="button">Log Out</button>
        </form>
      </div>
    <% else %>
      <div class="signed-out">
        <a href="<%= new_session_url %>">Sign in</a>
      or
        <a href="<%= new_user_url %>">Sign Up</a>
      </div>
    <% end %>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
